<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Free CRM Batch Test">
	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>
	<test name="Execute All Amazon Classes in a Batch">

		<classes>
			<class name="com.amazon.qa.testcases.SignInPageTest"></class>
			<class name="com.amazon.qa.testcases.SignIn2PageTest"></class>
			<class name="com.amazon.qa.testcases.HomePageTes"></class>
			<class name="com.amazon.qa.testcases.OnePlus9ProPageTest"></class>
			<class name="com.amazon.qa.testcases.OnePlus9ProMorningMistPageTest"></class>

		</classes>
	</test>

</suite>
